/* align the login class to the center of the page */

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #a8abd6;
  color: rgb(20, 15, 15);
  flex-direction: column;
}