.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #a8abd6;
    color: rgb(20, 15, 15);
    flex-direction: column;
  }
  
  .main-header{
    font-family: 'Montserrat', sans-serif;
  }
  
  .create-form label{
    color: whitesmoke !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px !important;
  }


  
  
  