.searchpage{
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #a8abd6;
    color: rgb(20, 15, 15);
  }

  /* make the whole page background color to lavender */
body {
  background-color: #a8abd6;
}


  
  
  